.dashboard-statistics{
	@include ul-reset();
	background: $dashboard_statistics_background;
	box-sizing: border-box;
	display: block;
	height: 200px;
	overflow: hidden;

	&-item{
		border-left: 6px solid $sidebar_background;
		box-sizing: border-box;
		display: inline-block;
		font-family: 'Avenir Roman';
		height: 113px;
		margin: 42px -4px 50px;
		padding-left: 40px; 
		padding-top: 10px;
		width: 395px;

		&:first-child{
			margin-left: 71px;
		}

		&.hours{
			border-left-color: #4e7d7c;
		}

		&.fails{
			border-left-color: #d2592a;
		}

		&-number{
			color: $dashboard_text_color;
			font-size: 50px;
		}

		&-text{
			color: $dashboard_text_color_light;
			font-size: 22px;
		}
	}
}