.dashboard-statistics{
	@include ul-reset();
	background: $dashboard_statistics_background;
	box-sizing: border-box;
	display: block;
	height: 200px;
	overflow: hidden;

	&-item{
		border-left: 6px solid $sidebar_background;
		box-sizing: border-box;
		display: inline-block;
		font-family: $font_roman;
		height: 110px;
		margin: 37px -4px 50px;
		padding-left: 34px; 
		padding-top: 0px;
		width: 395px;

		&:first-child{
			margin-left: 71px;
		}

		&.hours{
			border-left-color: #4e7d7c;
		}

		&.fails{
			border-left-color: #d2592a;
		}

		&-number{
			color: $dashboard_text_color;
			font-size: 70px;
			line-height: 70px;
			margin-bottom: 5px;
		}

		&-text{
			color: $dashboard_text_color_light;
			font-size: 28px;
		}
	}
}