.header {
	background: $header_main_color;
	height: $header_height;
	width: $header_width;
	font-family: $font_roman;


	&-logo{
		cursor: pointer;
		display: inline-block;
		height: $header_height;
		width: 160px;
		background: $header_logo_color;
		&-img{
			@include sprite($sprite_logo);
			margin: 37px auto;
		}
	}

	&-menu{
		@include ul_reset();
		color: $header_text_color;
		display: inline-block;
		vertical-align: top;

		&-item{
			cursor: pointer;
			display: inline-block;
			font-size: $header_font_size;
			line-height: $header_height - 5;
			margin-left: 65px;
			margin-right: 10px;

			&:hover{
				color: $header_text_hover_color;
			}
		}
	}

	&-search{
		float: right;
		position: relative;
		margin-top: 30px;
		&-img{
			@include sprite($sprite-search);
			background-image: $sprite_url;
			left: 19px;
			position: absolute;
			top: 17px;
		}
		input{
			background: $header_search_color;
			border-radius: 8px;
			border: none;
			box-sizing: border-box;
			color: $header_text_hover_color;
			font-size: 40px;
			height: 75px;
			line-height: 75px;
			margin-right: 26px;
			padding-left: $sprite-search-width + 40;
			width: 575px;
		}
	}

	&-user{
		float: right;
		width: 422px;
		height: 100%;
		bottom: auto;
		background: $header_logo_color;
		color: $header_text_color;
		font-size: 26px;

		&-avatar{
			cursor: pointer;
			display: inline-block;
			margin: 5px 27px 0 35px;
			position: relative;
			vertical-align: middle;

			&-img{
				border-radius: 50%;
				// height: 65px;
			}

			&::after{
				background: $border-color;
				border-radius: 50%;
				color: #fff;
				content: '2';
				display: block;
				font-size: 18px;
				height: 40px;
				line-height: 40px;
				position: absolute;
				text-align: center;
				width: 40px;
				top: -10px;
				left: 32px;
			}
		}

		&-name{
			font-family: $font_light;
			line-height: 132px;
			letter-spacing: 0.05em;
		}
		
		&-arrow{
			display: inline-block;
			cursor: pointer;
			margin-left: 13px;
			@include sprite($sprite_arrow);
		}

	}
}
