.dashboard-header{
	background: $dashboard_header_background;
	color: #6d737b;
	font-family: 'Avenir Medium';
	font-size: 35px;
	height: 144px;
	line-height: 144px;
	padding-left: 77px;
	box-shadow: 0px 2px 4px 0px rgba(85,85,85,0.4);
	background: #fff;
	z-index: 7;
	margin-bottom: 4px;

	&-cogwheel{
		@include sprite($sprite-cogwheel);
		display: inline-block;
		margin-top: -5px;
		vertical-align: middle;
		margin-left: 9px;
	}
}