.dashboard-players-recent{
	float: left;
	height: $dashboard_players_height;
	width: $dashboard-item-width;
	position: relative;

	&-header{
		@include header();
		margin-bottom: 65px;
	}

	&-nav{
		@include item-nav();



		&-item{
			display: inline-block;
			line-height: 40px;
			margin-right: -5px;
			text-align: center;
			text-decoration: none;
			width: 50%;
			height: 100%;
			color: $dashboard_text_color_light;
			font-family: 'FontAwesome';
			position: relative;

			&::before{
				content: '\f0d9';
				position: absolute;
				top: center;
				left: 22px;
			}

			&.prev{
				border-right: 1px solid $dashboard_nav_border;
			}
			&.next::before{
				content: '\f0da';
			}

		}
	}


	&-list{
		@include ul-reset();
		display: block;
		
		&-item{
			display: inline-block;
			height: 150px;
			margin-right: -4px;
			width: 390px;

			&-img{
				border-radius: 50%;
				float: left;
				height: 92px;
				width: 92px;
			}

			&-text{
				color: $dashboard_text_color_light;
				float: left;
				margin-left: 30px;

				&-name{
					font-size: 23px;
					line-height: 54px;
				}

				&-country{
					font-style: 23px;
					line-height: 23px;
				}
			}
		}
	}
}