.dashboard-players-recent{
	float: left;
	height: $dashboard_players_height;
	width: $dashboard-item-width;
	position: relative;
	padding-left: 70px;

	&-header{
		@include header();
		margin-bottom: 63px;
		margin-left: 10px;
		margin-top: 34px;
	}

	&-nav{
		@include item-nav();
		width: 76px;
		margin-right: 68px;
		margin-top: 38px;

		&-item{
			display: inline-block;
			line-height: 40px;
			margin-right: -5px;
			text-align: center;
			text-decoration: none;
			width: 50%;
			height: 100%;
			color: $dashboard_text_color_light;
			font-family: 'FontAwesome';
			position: relative;

			&::before{
				content: '\f0d9';
				position: absolute;
				top: center;
				left: center;
			}

			&.prev{
				border-right: 1px solid $dashboard_nav_border;
			}
			&.next::before{
				content: '\f0da';
			}

		}
	}


	&-list{
		@include ul-reset();
		display: block;

		
		&-item{
			display: inline-block;
			height: 145px;
			margin-right: -4px;
			width: 404px;
			


			&-img{
				border-radius: 50%;
				float: left;
				height: 91px;
				width: 91px;
			}

			&-text{
				color: $dashboard_text_color_light;
				float: left;
				margin-left: 27px;


				&-name{
					font-size: 26px;
					line-height: 48px;
					letter-spacing: 0.03em;
				}

				&-country{
					font-size: 23px;
					line-height: 32px;
					letter-spacing: 0.02em;
				}
			}
		}
	}
}