.dashboard-players-recent{
	float: left;
	height: $dashboard_players_height;
	margin-right: 5px;
	padding-left: 70px;
	width: 1200px;
	position: relative;


	&-header{
		color: $dashboard_text_color;
		font-family: 'Avenir Medium';
		font-size: 28px;
		margin-bottom: 65px;
	}

	&-nav{
		margin-top: 10px;
		border-radius: 4px;
		border: 1px solid #dededd;
		display: block;
		float: right;
		height: 40px;
		overflow: hidden;
		width: 100px;



		&-item{
			display: inline-block;
			line-height: 40px;
			margin-right: -5px;
			text-align: center;
			text-decoration: none;
			width: 50%;

			&.prev{
				border-right: 1px solid #dededd;
			}
		}
	}

	&-list{
		@include ul-reset();
		display: block;
		
		&-item{
			height: 150px;
			margin-right: -4px;
			width: 400px;

			&-img{
				border-radius: 50%;
				float: left;
				height: 92px;
				width: 92px;
			}

			&-text{
				color: $dashboard_text_color_light;
				float: left;
				margin-left: 30px;

				&-name{
					font-size: 23px;
					line-height: 54px;
				}

				&-country{
					font-style: 23px;
					line-height: 23px;
				}
			}
		}
	}
}