.dashboard-players-statistics{
	float: left;
	height: $dashboard_players_height;
	width: 1160px;


	&-header{
		@include header();
		margin-top: 34px;
		margin-bottom: 85px;
		margin-left: 5px;
	}


	&-nav{
		@include item-nav();
		width: 76px;
		margin-right: 20px;
		margin-top: 38px;

		&-item{
			display: inline-block;
			line-height: 40px;
			margin-right: -5px;
			text-align: center;
			text-decoration: none;
			width: 50%;
			height: 100%;
			color: $dashboard_text_color_light;
			font-family: 'FontAwesome';
			position: relative;

			&::before{
				content: '\f0d9';
				position: absolute;
				top: center;
				left: center;
			}

			&.prev{
				border-right: 1px solid $dashboard_nav_border;
			}
			&.next::before{
				content: '\f0da';
			}

		}
	}

	&-list{
			&-item{
				display: inline-block;
				width: 240px;
				height: 330px;
				margin-right: 60px;
				vertical-align: top;

				&:first-child{
					margin-left: -15px;
				}

				&:last-child{
					margin-right: 0;
				}

				&-name{
					text-align: center;
					font-size: 34px;
					color: $dashboard_text_color;
					margin-top: 24px;
				}
			}
	}
}
