.dashboard-players-statistics{
	float: right;
	height: $dashboard_players_height;
	width: 1160px;


	&-header{
		@include header();
		margin-bottom: 100px;
	}



	&-list{
			&-item{
				display: inline-block;
				width: 230px;
				height: 330px;
				margin-right: 70px;
				vertical-align: top;

				&:last-child{
					margin-right: 0;
				}

				&-name{
					text-align: center;
					font-size: 25px;
					color: $dashboard_text_color;
					margin-top: 30px;
				}
			}
	}
}
