//colors

	//background colors
$header_main_color: #36393c;
$header_logo_color: #202327;
$header_search_color: #4c5055;
$sidebar_background:  #9dbd71;
$border_color: #d66343;
$dashboard_header_background: #fff;
$dashboard_statistics_background: #f6f6f6;
$dashboard_background: #f2f2f3;
$dashboard_nav_border: #dededd;


	//text colors

$header_text_color: #8a929c;
$header_text_hover_color: #ced2d9;
$dashboard_text_color: #6d737b;
$dashboard_text_color_light: #bec1c6;

	//sizes

$header_height: 135px;
$header_width: 2650px;
$sidebar_width: 160px;
$dashboard_width: $header_width - $sidebar_width;
$dashboard_charts_height: 750px;
$dashboard_players_height: 590px;
$dashboard-item-width: 1180px;
$header_font_size: 28px;

	//fonts
$font_awesome: 'FontAwesome';
$font_light: 'Avenir Light';
$font_roman: 'Avenir Roman';
$font_medium: 'Avenir Medium';
$fomt_book: 'Avenir Book';

	//url
$sprite_url: url('../img/sprite.png');
