@mixin ul_reset(){
	list-style: none;
	margin: 0;
	padding: 0;
}

@mixin sprite($sprite) {
  background-image: $sprite_url;
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin header(){
	color: $dashboard_text_color;
	font-family: $font_roman;
	font-size: 35px;
}

@mixin item-nav(){
	border-radius: 4px;
	border: 1px solid $dashboard_nav_border;
	float: right;
	height: 40px;
	margin-top: 24px;
	margin-right: 0px;
	width: auto;
}
