.dashboard-charts{
		padding-left: 70px;
		background: $dashboard_background;
		height: $dashboard_charts_height;

	&-item{
		background: $dashboard_background;
		box-sizing: border-box;
		float: left;
		height: 750px;
		padding-top: 60px;
		width: $dashboard-item-width;

		&-header{
			@include header();
			margin-bottom: 80px;
		}

		&-menu{
			@include ul-reset();
			@include item-nav();
			display: block;
			overflow: hidden;
			transition: 0.4s;

			&-item{
				color: $dashboard_text_color_light;
				cursor: pointer;
				display: block;
				font-family: 'Avenir Medium';
				font-size: 16px;
				height: 40px;
				line-height: 40px;
				padding-left: 20px;
				position: relative;

				&:hover{
					background: $dashboard_nav_border;	
				}

				&.active::after{
					content: "\f0d7";
					display: block;
					position: absolute;
					top: 0;
					right: 12px;
					font-family: "FontAwesome";
				}

			}

			&:hover{
				height: 120px;

				& .active::after{
					content: "\f0d8";
				}
			}

		}

		&-canvas{
			height: 500px;
			width: 1120px;
		}

	}
}